<main class="flex flex-col justify-center items-center h-screen gap-10">
  <hgroup>
    <h1 class="text-2xl font-bold">
      {{ "title" | transloco : { language: Language | transloco } }}
    </h1>
    <p class="text-sm font-semibold text-balance my-[1lh]">
      {{ "paragraph" | transloco : { language: Language | transloco } }}
    </p>
  </hgroup>
  <a target="_blank" class="link text-green-300 underline" [href]="url()"
    >Tutorial traducciones en Angular con
    <strong class="italic">transloco</strong></a
  >
  <div>
    @for (language of languages(); track language.code) {
    <button
      class="btn text-black bg-sky-500 border-0 hover:bg-sky-600/80 transition-all rounded-full shadow-sm shadow-white mx-3"
      (click)="changeLanguage(language.code)"
    >
      {{ language.name | transloco }}
    </button>
    }
  </div>
</main>
